---
next_event:
  date: October 08, 2016
  weekday: Saturday
  city: AHMEDNAGAR
  state: MAHARASHTRA
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    {% include css.html %}

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>
<body>
<div class="container ">          


      <div class="apnatron text-center">
        
        <h1>{{ site.title }}</h1>
        <p class="info lead">Welcome <span id="info" class="dark-blue"></span></p>
      </div>


      <div id="flyer-container" class="row">
        <div class="col-lg-6">
          <div class="flyer-content text-center">
            <div class="col-lg-3">
              <span class="upcoming-event-icon">
                  <img src="assets/images/rocket.png" height="100px" width="100px">              
              </span>  
            </div>
            <div class="col-lg-7">
              <span class="header"><h3>UPCOMING EVENT</h3></span>
              <span class="content"><i class="fa fa-map-marker"></i> {{ page.next_event.city }} | {{ page.next_event.state }} </span><br/>
              <span class="header-desc"> {{ page.next_event.date}} [ {{page.next_event.weekday}} ]</span>
            </div>

          </div>
        </div>

        <div class="col-lg-6">
          <div class="flyer-content text-center">
            <div class="col-lg-3">
              <span class="upcoming-event-icon">
                  <img src="assets/images/contact.png" height="100px" width="100px">              
              </span>  
            </div>
            <div class="col-lg-7">
              <span class="header"><h3>CONTACT US</h3></span>
              <span class="header-desc"><i class="fa fa-envelope-o"></i> {{ site.email }}</span>              
            </div>

          </div>
        </div>

      </div>

      <footer class="row" id="footer">
        <p class="text-center">
          <a class="btn btn-sm btn-primary"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-sm btn-primary"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-sm btn-primary"><i class="fa fa-google"></i></a>
        </p>

        <div class="row text-center" style="margin-top:30px;">
          <a href="/blog-list.html" class="footer-link">BLOG</a> <a href="#" class="footer-link">EVENTS</a>  <a href="#" class="footer-link">ABOUT</a>          

          <p class="footer-credit">made with <span class="text-danger"><i class="fa fa-heart"></i></span> from <a href="https://github.com/ashish2py/" class="text-primary">developers</a> for <a href="https://github.com/sunitdeshpande" class="text-primary">developers</a>.</p>
        </div>
      </footer>

</div>

<div id="particles"></div>


{% include scripts.html %}

<script src="assets/js/dbw.min.js"></script>

<script>
$(function() {
    $("#info").typed({
        strings: ["to the coding ground. ", "^1000 to {{site.title}}. ", "^1000 to the place we love.","^1000 Amigos!!!" ],
        typeSpeed: 0,
        loop: true,
        loopCount: false,
    });
});
</script>

</script>
</body>
</html>
